// Variables
$color-white: #ffffff;
$transition: all 1s;
$color-main: #2c2c54;
$color-yellow: rgb(229, 212, 22);
$font-main: 'Jost', sans-serif;
$font-lobster: 'Lobster', cursive;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

// General

body {
	text-align: center;
	color: $color-main;
	font-size: 16px;
	line-height: 1.7;
	font-family: $font-main;
}

section {
	padding-top: 50px;
	padding-bottom: 50px;
}

.section-title {
	text-transform: uppercase;
	.section-subtitle {
		font-family: $font-lobster;
		font-weight: normal;
		margin-bottom: 30px;
	}
}

// Navigation

.navigation {
	padding-top: 20px;
	.container {
		display: flex;
		justify-content: space-around;
		text-align: center;

		.navbar-brand {
			font-family: $font-lobster;
			color: $color-yellow;
		}
	}
	ul {
		display: flex;
	}

	li {
		display: inline-block;
		margin-right: 36px;
		position: relative;
	}

	a {
		text-decoration: none;
		color: $color-white;
		transition: $transition;
		text-transform: uppercase;

		&:hover {
			color: blue;
		}
	}
}

// Header

.splash {
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	h1,
	h2 {
		display: block;
		color: black;
		color: white;
	}
	h1 {
		text-transform: uppercase;
		font-size: 60px;
	}
	h2 {
		font-family: $font-lobster;
		letter-spacing: 5px;
	}
	img {
		display: block;
		height: 500px;
		left: 0;
		object-fit: cover;
		overflow: hidden;
		position: absolute;
		filter: brightness(50%);
		top: 0;
		width: 100%;
		z-index: -2;
	}
	button {
		background-color: $color-yellow;
		min-width: 160px;
		margin: 24px auto 0 auto;
		padding: 16px;
		border-radius: 5px;
		font-family: $font-main;
		font-size: 16px;
		text-align: center;
		text-decoration: none;
		cursor: pointer;
		border-style: none;
		text-transform: uppercase;
		color: $color-white;
	}
}

/* Services */
.services {
	.sub-container-services {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.sub-service {
			flex: 0 0 33.333%;
			font-size: 16px;
			margin: 0 0 12px 0;
			padding-right: 15px;
			padding-left: 15px;
			text-align: center;
			position: relative;
			margin-top: 40px;
			i {
				color: $color-yellow;
				border: 1px solid $color-yellow;
				padding: 10px;
				border-radius: 50%;
				margin-bottom: 10px;
			}
		}
	}
}

// Portfolio
.portfolio {
	background-color: rgb(223, 218, 218);
	display: flex;
	justify-content: center;
	align-content: center;

	.container2 {
		width: clamp(800px, 80vw, 1400px);
	}
}

.our-portfolio-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px;

	.sub-container-portfolio {
		align-items: center;
		height: 300px;
		width: 300px;
		margin-bottom: 80px;
	}

	.portfolio-image {
		height: 100%;
		width: 100%;

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	.porfolio-description {
		margin-top: 15px;

		h4,
		h5 {
			text-align: center;
		}
	}
}

//Footer

.footer {
	padding-top: 48px;
	padding-bottom: 48px;

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		p {
			padding-right: 20px;
		}
		ul {
			list-style-type: none;
		}

		li {
			display: inline-block;
			height: 40px;
			width: 40px;
			border-radius: 50%;
			background-color: black;
			margin-right: 20px;
			font-size: 0;
			transition: $transition;
		}

		li:hover {
			transform: scale(1.2);

			i {
				transform: scale(1.2);
			}
		}

		i {
			font-size: 20px;
			color: $color-white;
			line-height: 40px;
		}
	}
}
